//imports
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//fonts
$fontePrincipal: "Poppins", sans-serif;

//cores

$branco: #f5f5f5;
$preto: #000;
$hoverMenu: rgb(107, 107, 107);

//dourado
$dourado1: #faf5b9;
$dourado2: #f0c672;
$dourado3: #f1b858;
$douradoPescoco: #da8733;