

.swiper {
    width: 99vw; 
    height: 100vh;

    &__img {
        width: 99vw;
        height: 100vh;
        color: rgba(226, 81, 81, 0.548);
    }
}

.swiper-button-prev, .swiper-button-next {
    width: 2px; // Define a largura desejada para as setas
    height: 2px; // Define a altura desejada para as setas
    background-color: transparent; // Define a cor de fundo como transparente
  }
  
  .swiper-button-prev::after, .swiper-button-next::after {
    font-size: 20px; // Define o tamanho do ícone das setas
    color: white; // Define a cor do ícone das setas como branca
  }
