@import '../../styles/variaveis';

.NavBar {
    background: $branco;
    width: 100%;
    height: 8vh;

    padding: 0 15vw;

    display: flex;
    align-items: center;
    justify-content: space-between;

    align-self: center;

    .logo {
        display: flex;
        align-items: center;

        &__img img {
            width: 50px;
            margin-right: 10px;
        }

        &__name h2 {
            font-size: 32px;
            font-weight: 200;
        }
    }

    h4 {
        font-weight: 400;
        font-size: 17px;

        border: 1px solid $preto;
        padding: .2em 1em;
        border-radius: 40px;
    }
}