@import '../../styles/variaveis';

.menu {
    /* background-color: white; */
    display: flex; 
    justify-content: space-evenly;
    width: 38%;
    min-width: 360px;

    a {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500;
        position: relative;
        padding: 0 5px 0 7px;
    }

    .link-menu:after {
        content: "";
        position: absolute;
        background-color: $hoverMenu;
        height: 2px;
        width: 0;
        left: 5px;
        bottom: -1px;
        transition: 0.2s;
    
        border-radius: 1px;
    }

    .link-menu:hover::after {
        width: 90%;
    }
}